<!DOCTYPE html>
	{% load static from staticfiles %}
<html>
	<head>
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.min.css" />
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static 'home/css/base.css' %}" />
		{% block stylesheets %}
		{% endblock %}
		<!--[if lt IE 9]>
		    <script src="{% static 'home/js/html5shiv-printshiv.min.js' %}"></script>
		<![endif]-->

		<title>{% block title %}Projex{% endblock %}</title>
		{% block metaog %}
	    	<meta name="description" content="Projex" />
	    {% endblock %}
	</head>
	<body>
		<header>
			<div class="row clearfix">
				<div class="col-nav col-centered no-pad clearfix">
					<a href="/" class="navbar-logo">projex</a>
					<a href="#" class="pull-right" id="collapsed">&#x2261;</a>
					<nav class="navbar-collapsable right-menu pull-right">
						<ul class="menu-links">
							<li><a href="#">Features</a></li>
							<li><a href="#">Pricing</a></li>
							<li><a href="#">Sign Up</a></li>
							{% if not logged_in %}
								<li><a href="{% url 'home:login' %}">Log In</a></li>
							{% else %}
								<li><a href="{% url 'manager:dashboard' %}">Dashboard</a></li>
							{% endif %}
						</ul>
					</nav>
				</div>
			</div>
		</header>
			<div class="dashboard-row clearfix" id="first-thing">
				{% block content %}
				{% endblock %}
			</div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

		{% block javascript %}
		{% endblock %}

	</body>
</html>