{% extends 'base.html' %}
	{% load static from staticfiles %}

	{% block stylesheets %}
		<link rel="stylesheet" href="{% static 'home/css/style.css' %}" />
	{% endblock %}


	{% block content %}
		<div class="container">
			<div class="overlay">
				<div class="col-3-4 col-centered" id="main">
					<h1 id="brief" class="p-t-20">Project management, but better.</h1>
					<h3 id="desc">Programmable software with real-time features to make collaborating as a team and meeting deadlines easier than ever before.</h3>
				</div>
			</div>
		</div>
	{% endblock %}

	{% block javascript %}
		<script src="{% static 'home/js/home.js' %}"></script>
	{% endblock %}