{% extends 'base.html' %}
	{% load static from staticfiles %}

	{% block stylesheets %}

	{% endblock %}


	{% block content %}
		<div class="container">
				<div id="s-login" class="col-login col-centered white-box p-t-2 p-b-5 p-l-5 p-r-5">
					{% if not logged_in %}
						<h1 class="text-center p-b-5">Log In</h1>
						{% if user_dne %}
							<p class="error m-b-5">{{ user_dne }}</p>
						{% endif %}
						<form method="post" action="{% url 'home:login' %}">
							{% csrf_token %}
							<!--{% for f in form %}
								<span class="login-label">{{ f.label }}:</span><br />
								{{ f }}<br />
							{% endfor %}-->
							{{ form.as_table }}
							<input type="submit" class="submit" value="Log In">
						</form>
					{% else %}
						<h1 class="text-center p-t-2">You are logged in</h1>
					{% endif %}
				</div>
			</div>
	{% endblock %}

	{% block javascript %}

	{% endblock %}