/* #398bce - lighter blue (accent)
   #3686be - "faded" darker blue


/***** Presets *****/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

body {
    background-color: #3686be;
    color: #f7f7f7;
    height: 100%;
    width: 100%;
    font-family: 'Lato';
}

a {
    text-decoration: none;
    color: #2b2b2b;
    font-weight: 400;
}

a:hover {
    color: #000;
}

/***** End Presets *****/

/***** Header *****/

header {
    width: 100%;
    line-height: 50px;
    background-color: #3686be;
    padding: 25px 0;
}

.navbar-logo {
    float: left;
    font-size: 38px;
    line-height: 45px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    color: #fff;
    font-family: 'Lato';
    font-weight: 900;
}

#collapsed {
    display: none;
}

.expand {
    display: none;
}

.expand:hover {
    background-color: #6EC0F5;
}

.navbar-logo:hover {
    color: white;
}

.menu-links {
    list-style-type: none;
    float: left;
}

.menu-links > li {
    float: left;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 700;
}

.menu-links >li:last-child {
    margin-right: 0px;
}

.menu-links > li > a {
    display: block;
    margin-left: 20px;
    font-family: 'Lato';
    font-weight: 400;
    color: #eee;
}

.menu-links > li > a:hover {
    color: #fff;
}

.collapsed-active {
    background-color: #6EC0F5;
}

/***** End Header *****/

/***** Footer *****/

footer {
    border-top: solid 2px #43b0f6;
}

.footer-hr {
    display: block;
    background-color: #ccc;
    width: 80%;
    margin: 0 auto;
}

.footer-logo {
    text-align: center;
    font-size: 32px;
    text-decoration: none;
    color: #43b0f6;
    font-family: 'Lato';
    font-weight: 900;
}

.footer-logo:hover {
    color: #43b0f6;
}

.footer-links {
    list-style-type: none;
}

.footer-links > li {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

/***** End Footer *****/

/***** Text Styles *****/

h1, h2 , h3, h4, h5 {
    font-weight: 400;
}

.nav-small {
    font-size: 20px;
}

.push-right {
    float: right;
}

.no-decor {
    text-decoration: none;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.text-center {
    text-align: center;
}

.text-white {
    color: #fff;
}

/***** End Text Styles *****/

/***** Image Styles *****/

.brand-logo {
    display: block;
    margin: 0 auto;
    text-align: center;
    clear: both;
    width: 450px;
}

/***** End Image Styles *****/

/***** Form Styles *****/

input {
    border: solid 1px #ccc;
    border-radius: 3px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 10px 1000px #e5fedf inset;
}

*:focus {
    outline-width: 3px;
    outline-color: #6EC0F5;
}

.errorlist {
    list-style-type: none;
}

.errorlist > li {
    color: red;
    font-weight: 700;
    margin-bottom: 3px;
}

.error {
    color: red;
    font-weight: 700;
}

label {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

.text-input, .text-input-home {
    padding: 10px 8px; 
    width: 100%;
    font-size: 14px; 
    line-height: 20px; 
    height: 35px;
}

.text-input-home {
    width: 65% !important; 
}

.submit, .submit-home {
    padding: 1%; 
    width: 100%; 
    height: 40px; 
    font-size: 16px; 
    background-color: #43b0f6; 
    color: #fff; 
    border: solid 1px #43b0f6; 
    cursor: pointer;
    transition: all .33s;
    -webkit-transition: all .33s;
    -o-transition: all .33s;
    -moz-transition: all .33s;
}

.submit-home {
    width: 30%;
}

.submit:hover, .submit-home:hover {
    background-color: #6EC0F5;
    transition: all .33s;
    -webkit-transition: all .33s;
    -o-transition: all .33s;
    -moz-transition: all .33s;
}

#mc_embed_signup, #social_follow {
    display: block;
    width: 40%;
    margin: 0 auto;
    font: inherit;
    background-color: #fff;
}

.article-col-60 > #mc_embed_signup {
    width: 100%;
    margin: 30px 0;
}

#mc_embed_signup form, .article-col-60 form {
    padding: 15px;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
}

#mc_embed_signup input, .article-col-60 input {
    border: solid 1px #e4e4e4;
}

#mc_embed_signup input.email, .article-col-60 input.email {
    width: 100%;
}

#mc_embed_signup input.button, .article-col-60 input.button {
    display: inline-block;
    width: 30%;
}

#mc_embed_signup .button, .article-col-60 .button {
    border-radius: 3px !important;
    font-weight: 400 !important;
    height: 32px !important;
    line-height: 32px !important;
    background-color: #43b0f6 !important;
}

#mc_embed_signup .button:hover, .article-col-60 .button:hover {
    background-color: #0a79c0 !important;
}

#mc_overlay, #social_overlay {
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,.85);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

#mc_overlay_exit, #social_overlay_exit {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    color: #fff;
    font-size: 20px;
}

#mc_overlay_exit:hover, #social_overlay_exit:hover {
    color: #6EC0F5;
    cursor: pointer;
}

#social_follow h2 {
    font-weight: 400;
    padding: 25px;
    text-align: center;
}

#social-container {
    width: 165px;
    padding-bottom: 25px;
    margin: 0 auto;
}

#mc_embed_signup h2, #mc_thanks {
    display: none;
    font-weight: 400;
    padding: 25px;
    text-align: center;
}

/***** End Form Styles *****/

/***** Responsive Grid *****/

.no-pad {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.clearfix:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.row {
    width: 100%;
}

.red-row {
    background-color: #ed1c24;
}

.row:before, .row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

[class*='col-'] {
    position: relative;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

[class*='col-']:after {
    -webkit-box-sizing: border-content;
     -moz-box-sizing: border-content;
          box-sizing: border-content;
}

.col-1-6 {
    width: 16.666%;
}

.col-1-5 {
    width: 20%;
}

.col-1-4 {
    width: 25%;
}

.col-login {
    width: 40%;
}

.col-1-3 {
    width: 33.333%;
}

.col-1-2 {
    width: 50%;
}

.col-2-3 {
    width: 66.666%;
}

.col-3-4 {
    width: 75%;
}

.col-4-5 {
    width: 80%;
}

.col-nav {
    width: 90%;
}

.col-1-1 {
    width: 100%;
}

.col-offset-1-3 {
    margin-left: 33.33%;
}

.col-offset-2-3 {
    margin-left: 66.66%;
}

.col-offset-1-2 {
    margin-left: 50%;
}

.col-offset-1-4 {
    margin-left: 25%;
}

.col-offset-1-5 {
    margin-left: 20%;
}

.col-offset-1-6 {
    margin-left: 16.666%;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

/***** End Responsive Grid *****/

/***** Padding & Margins *****/


.m-t-1 {
    margin-top: 1%;
}

.m-t-2 {
    margin-top: 2%;
}

.m-t-5 {
    margin-top: 5%;
}

.m-t-8 {
    margin-top: 8%;
}

.m-t-10 {
    margin-top: 10%;
}

.m-t-15 {
    margin-top: 15%;
}

.m-t-20 {
    margin-top: 20%;
}

.m-t-25 {
    margin-top: 25%;
}

.m-t-30 {
    margin-top: 30%;
}

.m-t-35 {
    margin-top: 35%;
}

.m-t-40 {
    margin-top: 40%;
}

.m-t-45 {
    margin-top: 45%;
}

.m-t-50 {
    margin-top: 50%;
}

.m-b-1 {
    margin-bottom: 1%;
}

.m-b-2 {
    margin-bottom: 2%;
}

.m-b-5 {
    margin-bottom: 5%;
}

.m-b-8 {
    margin-bottom: 8%;
}

.m-b-10 {
    margin-bottom: 10%;
}

.m-b-15 {
    margin-bottom: 15%;
}

.m-b-20 {
    margin-bottom: 20%;
}

.m-b-25 {
    margin-bottom: 25%;
}

.m-b-30 {
    margin-bottom: 30%;
}

.m-b-35 {
    margin-bottom: 35%;
}

.m-b-40 {
    margin-bottom: 40%;
}

.m-b-45 {
    margin-bottom: 45%;
}

.m-b-50 {
    margin-bottom: 50%;
}

.m-l-1 {
    margin-left: 1%;
}

.m-l-2 {
    margin-left: 2%;
}

.m-l-5 {
    margin-left: 5%;
}

.m-l-8 {
    margin-left: 8%;
}

.m-l-10 {
    margin-left: 10%;
}

.m-l-12 {
    margin-left: 12%;
}

.m-l-15 {
    margin-left: 15%;
}

.m-l-30 {
    margin-left: 30%;
}

.m-r-1 {
    margin-right: 1%;
}

.m-r-5 {
    margin-right: 5%;
}

.m-r-8 {
    margin-right: 8%;
}

.p-t-2 {
    padding-top: 2%;
}

.p-t-5 {
    padding-top: 5%;
}

.p-t-8 {
    padding-top: 8%;
}

.p-t-10 {
    padding-top: 10%;
}

.p-t-15 {
    padding-top: 15%;
}

.p-t-20 {
    padding-top: 20%;
}

.p-t-25 {
    padding-top: 25%;
}

.p-t-30 {
    padding-top: 30%;
}

.p-t-40 {
    padding-top: 40px;
}

.p-b-2 {
    padding-bottom: 2%;
}

.p-b-5 {
    padding-bottom: 5%;
}

.p-b-8 {
    padding-bottom: 8%;
}

.p-b-10 {
    padding-bottom: 10%;
}

.p-b-15 {
    padding-bottom: 15%;
}

.p-b-20 {
    padding-bottom: 20%;
}

.p-b-25 {
    padding-bottom: 25%;
}

.p-b-30 {
    padding-bottom: 25%;
}

.p-r-5 {
    padding-right: 5%;
}

.p-l-5 {
    padding-left: 5%;
}

/***** End Padding & Margins *****/

/* Media Queries */

@media screen and (max-width: 1098px) {
    .collapse {
        display: none;
    }

    .expand {
        display: block;
    }

    .expand > .sub-menu {
        right: 0;
    }
}

@media screen and (max-width: 928px) {
    .col-1-2, .col-1-3, .col-3-4 {
        width: 100%;
    }

    #mc_embed_signup, #social_follow {
        width: 60%;
    }
}

@media screen and (max-width: 760px) {
    #mc_embed_signup, #social_follow {
        width: 80%;
    }

    #collapsed {
        display: block;
        font-size: 62px;
        padding-left: 12px;
        padding-right: 12px;
        font-weight: 400;
        color: #fff;
        height: 37px;
        line-height: 22px;
    }

    .expand {
        display: none;
    }

    .collapse {
        display: block;
    }

    #collapsed:hover {
        background-color: #6EC0F5;
        color: #fff;
    }

    .navbar-collapsable {
        display: none;
        float: none;
        width: 100%;
        clear: both;
    }

    .menu-links {
        margin-left: 0px;
        width: 100%;
        background-color: #43b0f6;
        border-top: solid 3px #0a79c0;
    }

    .menu-links > li {
        line-height: 40px;
        font-size: 14px;
        height: 37px;
        font-weight: 400;
        float: none;
    }

    .menu-links >li:last-child {
        margin-right: 0px;
    }

    .menu-links > li > a {
        display: block;
        padding-left: 12px;
        padding-right: 12px;
        font-weight: 400;
    }
}

@media screen and (max-width: 667px) {
    .brand-logo {
        width: 350px;
    }

    #settings {
        margin-left: 25px;
    }
}