header {
	position: absolute;
	background-color: transparent;
	z-index: 999;
}

.overlay {
	display: block;
	position: absolute;
    background-color: rgba(54,134,190, .7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#first-thing {
	background: url('../i/team.jpg') center;
	background-size: cover;
	min-height: 500px;
}

#brief {
	text-align: center;
	color: #fff;
	font-weight: 900;
	font-size: 42px;
}

#desc {
	text-align: center;
	color: #fff;
	font-weight: 300;
	font-size: 24px;
	padding-top: 33px;
}

#desc span {
	font-weight: 700;
}