<!DOCTYPE html>
	{% load static from staticfiles %}
<html>
	<head>
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.min.css" />
		<link rel="stylesheet" href="{% static 'home/css/base.css' %}" />
		{% block stylesheets %}
		{% endblock %}
		<!--[if lt IE 9]>
		    <script src="{% static 'home/js/html5shiv-printshiv.min.js' %}"></script>
		<![endif]-->

		<title>{% block title %}Projex{% endblock %}</title>
		{% block metaog %}
	    	<meta name="description" content="Projex" />
	    {% endblock %}
	</head>
	<body>
		<header>
			<div class="row">
				<div class="col-nav col-centered no-pad clearfix">
					<a href="/" class="navbar-logo">projex</a>
					<a href="#" class="pull-right" id="collapsed">&#x2261;</a>
					<nav class="navbar-collapsable right-menu pull-right">
						<ul class="menu-links">
							<li><a href="#" class="active">Projects</a></li>
							<li><a href="#">My Tasks</a></li>
							<li><a href="#">Mentions</a></li>
							<li><a href="#">Messages</a></li>
							<li><a href="#">Settings</a></li>
							<li><a href="{% url 'manager:logout' %}">Logout</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
			<div class="dashboard-row clearfix">
				{% block content %}
				{% endblock %}
			</div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

		{% block javascript %}
		{% endblock %}

	</body>
</html>