{% extends 'dashboard-base.html' %}
	{% load static from staticfiles %}

	{% block stylesheets %}
		<link rel="stylesheet" href="{% static 'manager/css/style.css' %}" />
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	{% endblock %}

	{% block content %}
		<div id="add-project-overlay">
			<p id="add-project-exit">&#x2715;</p>
			<div class="col-1-3 col-centered" id="add-project">
				<form action="#" method="POST" enctype="multipart/form-data" id="add_project">
					{% csrf_token %}
					{{ form.as_p }}
					<input type="submit" class="submit" value="Create Project">
				</form>
			</div>
		</div>
		<div class="col-1-5 actions">
			<a href="#add-proj" class="add-project"><i class="fa fa-plus"></i><span class="p-l-5">add project</span></a>
		</div>
		<div class="col-4-5 dash">
			
		</div>
	{% endblock %}

	{% block javascript %}
		<script type="text/javascript">
			var user = {{ user }};
		</script>
		<script src="{% static 'manager/js/js.js' %}"></script>
	{% endblock %}