/*** Presets ***/

body {
	background-color: #fff;
	color: #000;
}

.dashboard-row {
	width: 90%;
	display: block;
	margin: 0 auto;
	padding-top: 25px;
}

/*** Header/Nav ***/

header {
	background-color: #fff;
}

.navbar-logo {
	color: #398bce;
}

.navbar-logo:hover {
	color: #398bce;
}

.menu-links > li > a {
	color: #000;
}

.menu-links > li > a:hover {
	color: #398bce;
}

.active {
	color: #398bce !important;
}

/*** Add Project Popup ***/

.add-project {
	padding-top: 25px;
}

.add-project > i {
	color: #8AC06E;
	font-size: 18px;
}

.add-project:hover + .add-project > i {
	color: #82B468;
}

.add-project:hover {
	text-decoration: underline;
}

#add-project-overlay {
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,.85);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

#add-project {
	display: block;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 15px;
	border-radius: 3px;
}


#add-project-exit {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    color: #fff;
    font-size: 20px;
}

#add-project-exit:hover {
    color: #6EC0F5;
    cursor: pointer;
}

/*** Actions Column ***/

.actions > a {
	display: block;
}