<!DOCTYPE html>
	{% load static from staticfiles %}
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width">

		{% block stylesheets %}
		{% endblock %}

		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.min.css" />
		<link href='http://fonts.googleapis.com/css?family=Lato:700,900|Oxygen' rel='stylesheet' type='text/css'>
		<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
		<!--[if lt IE 9]>
		    <script src="{% static 'welcome/js/html5shiv-printshiv.min.js' %}"></script>
		<![endif]-->

		<title>{% block title %}mydailyfit | Lose Weight, Get Big, Live Healthier{% endblock %}</title>
		{% block metaog %}
	    	<meta name="description" content="mydailyfit | Health and Fitness Blog" />
	    {% endblock %}
	</head>
	<body>
		<header>
			<div class="row">
				<div class="container no-pad">
					<div class="col-nav col-centered no-pad">
						<a href="#" class="navbar-logo">mydailyfit</a>
						<a href="#" class="pull-right" id="collapsed">&#x2261;</a>
						<nav class="navbar-collapsable right-menu pull-right">
							<ul class="menu-links">
								<li>test</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>
			{% block content %}
			{% endblock %}
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

		{% block javascript %}
		{% endblock %}

	</body>
</html>